*{
box-sizing:border-box;
font-family:sans-serif;
}
    body{
        width: 800px;
        margin: 0px auto;
    }
p{
color:grey;
}
#title-1{
    text-decoration: underline;
}
.bg-yellow{
    width: 100px;
    background-color: rgb(254, 254, 165);
}
[id]{
    font-style:italic;
}
[id="title-1"]{
    color:rgb(255, 192, 104);
}
[href="https://www.yahoo.com"]{
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 8px;
    border:1px solid grey;
    background-color:rgb(160, 145, 255);
}
        [href="https://www.yahoo.com"]:hover{
            background-color: grey;
        }
        [href="https://www.yahoo.com"]:active{
            color: white;
        }
[class^="title"]{

}
[href$=".com"]{
    font-weight: bold;
}

[class^="title"]{
     color: rgb(181, 234, 181);
}

[href*="127"]{
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 8px;
    border:1px solid grey;
    background-color:rgb(145, 255, 185);
}
        [href*="127"]:hover{
            background-color: grey;
        }
        [href*="127"]:active{
            color: white;
        }
[href^="http"]{
    color: black;
}
    [href^="http"]:hover{
        color: gray;
    }
    [href^="http"]:active{
        color: rgb(193, 193, 193);
    }
a,p,h1{

}
main p{

}
h1 + * {

}

h1 ~ * {

}
main > *{
    
}
